.login {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 300px;
  margin: 0 auto;
}

.login > img {
  width: 300px;
  margin-bottom: 20px;
}

.login > a {
  display: block;
  padding: 20px;
  border-radius: 99px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  background-color: #1db954;
  transition: background-color .25s ease;
  &:hover {
    color: white;
    background-color: darken(#1db954, 10);
  }
}